.form-body {
  color: #3e3c56;
}

.main-header {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 600;
  font-size: 30px;
  height: 50px;
  color: #3e3c56;
}

.share-your-curriculum {
  margin: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.lesson-title {
  width: 610px;
  border: none;
  border-radius: 3px;
  outline: none;
  height: 40px;
  background-color: #f1f0f0;
}

.lesson-title-container {
  display: flex;
  flex-direction: column;
}

.lesson-description {
  width: 610px;
  height: 180px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #f1f0f0;
}

.subject-des-btn {
  width: 200px;
  height: 30px;
  border-radius: 30px;
  margin: 5px;
  outline: none;
}

.lesson-description-container {
  display: flex;
  flex-direction: column;
}

.upload-section {
  margin-left: 10px;
}

.subheader {
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
}

.addfile {
  width: 300px;
  height: 300px;
  margin: 16px;
  outline: none;
  color: white;
  font-size: 20px;
  background: linear-gradient(to right, #7104ee, #5500ff);
}

.addfile:hover {
  background: linear-gradient(to right, #607acb, #39d2c0);
}

.upload {
  margin-left: 16px;
}

.subject-btn {
  width: 300px;
  height: 50px;
  border-radius: 30px;
  margin: 5px;
  border: none;
  color: white;
  /* color: black; */
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  background: linear-gradient(to right, #7104ee, #5500ff);
}

.subject-btn:hover {
  outline: none;
  background: linear-gradient(to right,#607acb, #39d2c0);
}

.subject-btn:focus {
  outline: none;
}

.region {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.main-body {
  margin-top: 20px;
}

.main-subjects {
  display: flex;
  width: 1000px;
}

.submit-subject {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.submit-btn {
  width: 300px;
  height: 50px;
  border-radius: 30px;
  margin: 5px;
  border: none;
  color: white;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  background: linear-gradient(to right, #7104ee, #5500ff);
}

.submit-btn:hover {
  background: linear-gradient(to right, #fd1d1d, #fcb045);
}
.submit-btn:focus {
  outline: none;
}

.select-country {
  border: lightgray 1px solid;
  border-radius: 3px;
  width: 500px;
  margin-left: 5px;
  height: 30px;
  outline: none;
}

.submit-your-topic {
  border: none;
  border-radius: 3px;
  width: 500px;
  margin-left: 5px;
  height: 30px;
  outline: none;
  background-color: #f1f0f0;
}

.qty {
  border: lightgray 1px solid;
  width: 40px;
  height: 30px;
  margin-left: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  outline: none;
}

.audience {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.supplies {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.supplies-sub-header {
  display: flex;
  flex-direction: row;
}

.sublies-item {
  width: 500px;
  height: 30px;
}

.sublies-qty {
  padding-left: 15px;
}

.duration {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.complete-add-class {
  margin-top: 50px;
  margin-bottom: 50px;
}
