.dash-nav {
  border-radius: 0;
  border: 1.5px solid #464176;
}

.navbar-brand {
  color: black;
  font-size: 32px;
  margin: 0.5em;
  padding: 1.2em;
  line-height: 2px;
  font-weight: 100;
}

.main-group {
  width: 700px;
  margin-left: 13%;
  margin-top: 1%;
}

.main-nav {
  box-shadow: 0 0.5px 0px 0px rgba(0,0,0,0.25);
  z-index: 100;
  width: 100%;
}

.inp-group {
  width: 82%;
  margin: auto;
  margin-top: 3em;
  border:  0;
}


.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.dropdown {
  margin-top: 1em;
}

.navbar-right {
  margin-top: 0.7em;
}
